.wrapper {
  max-width: 100%;
  background-color: yellow;
  margin: auto;
}

.wrapper .container {
  max-width: 1280px;
  margin: auto;
  border: 1px solid purple;
}

.wrapper .container .top-nav {
  background-color: salmon;
}

.wrapper .container .top-nav img {
  height: 50px;
}

.wrapper .container .menu .menu-list li {
  color: white;
  border: 1px solid white;
  padding: 10px;
}

.wrapper-bottom {
  border: 1px solid black;
  max-width: 1280px;
  margin: auto;
}

.wrapper-bottom .menu-bottom .menu-list-bottom li {
  color: black;
  border: 1px solid black;
  padding: 5px;
}

.wrapper-bottom .main .first-section .first-section-left ul {
  list-style: none;
}

.wrapper-bottom .main .first-section .first-section-left ul li:nth-child(1) {
  color: #ed1a2e;
}

.wrapper-bottom .main .first-section .first-section-left ul li:nth-child(2) {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-top: 5%;
}

.wrapper-bottom .main .first-section .first-section-right .testo {
  margin-top: 5%;
}

.wrapper-bottom .main .third-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
}

.wrapper-bottom .main .third-section .third-section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-bottom .main .third-section .third-section-left ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: chartreuse;
}

.wrapper-bottom .main .third-section .third-section-left ul li:nth-child(1) {
  color: #ed1a2e;
}

.wrapper-bottom .main .third-section .third-section-left ul li:nth-child(2) {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-top: 5%;
  text-align: center;
}

.wrapper-bottom .main .third-section .third-section-left ul li:nth-child(3) {
  color: black;
  text-align: center;
}

.wrapper-bottom .main .third-section .third-section-left ul li:nth-child(4) {
  color: #ed1a2e;
}

.wrapper-bottom .main .second-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
}

.wrapper-bottom .main .second-section .second-section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-bottom .main .second-section .second-section-right ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: chartreuse;
}

.wrapper-bottom .main .second-section .second-section-right ul li:nth-child(1) {
  color: #ed1a2e;
}

.wrapper-bottom .main .second-section .second-section-right ul li:nth-child(2) {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-top: 5%;
  text-align: center;
}

.wrapper-bottom .main .second-section .second-section-right ul li:nth-child(3) {
  color: black;
  text-align: center;
}

.wrapper-bottom .main .second-section .second-section-right ul li:nth-child(4) {
  color: #ed1a2e;
}

.wrapper-bottom .footer-top {
  background-color: darkblue;
  padding-top: 5%;
}

.wrapper-bottom .footer-top .first-section .first-section-left ul {
  list-style: none;
}

.wrapper-bottom .footer-top .first-section .first-section-left ul li:nth-child(1) {
  color: #ed1a2e;
}

.wrapper-bottom .footer-top .first-section .first-section-left ul li:nth-child(2) {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-top: 5%;
}

.wrapper-bottom .footer-top .first-section .first-section-right .testo {
  margin-top: 5%;
}

.wrapper-bottom .footer-center {
  height: 100%;
  margin-bottom: -2%;
}

.wrapper-bottom .footer-center .footer-center-left {
  background-color: white;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-bottom .footer-center .footer-center-left img {
  height: 100px;
  border: 1px solid black;
}

.wrapper-bottom .footer-center .footer-center-center {
  background-color: white;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-bottom .footer-center .footer-center-center img {
  height: 150px;
  border: 1px solid black;
}

.wrapper-bottom .footer-center .footer-center-right {
  background-color: white;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-bottom .footer-center .footer-center-right img {
  height: 150px;
  border: 1px solid black;
}

.wrapper-bottom .footer-center-bottom {
  height: 50px;
  background-color: darkgrey;
}

.wrapper-bottom .footer-bottom ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-bottom .credits {
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-bottom .credits .credits-left img {
  height: 50px;
}

.wrapper-bottom .credits .credits-right {
  background-color: rosybrown;
}

.wrapper-bottom .credits .credits-right ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-bottom .credits .credits-right ul li {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */