$couleur-txt-base: salmon;
$container-width: 1280px;
$gutter:32px;
$fontBody: 'Work Sans',
sans-serif;
$sizeFontBody: 12px;
$fontTitle: 'Playfair Display',
serif;
$sizeFontTitle:30px;
$mockup-width: 1440px;
$ctaColor: #ed1a2e;




.container {
    width: $container-width;
    margin: auto;
    border: 1px solid purple;
    .top-nav {
        background-color: salmon;
        .top-nav-left {
            img {
                height:50px;
            }
        }

        .top-nav-center{
            background-color: seagreen;
            ul {
                list-style: none;
                display: flex;
                justify-content: start;
                li {
                    color: white;
                    padding: 7px;
                    border: 1px solid purple;

                }


            }
        }
    }




    

    


    
}