$couleur-txt-base: salmon;
$container-width: 1280px;
$gutter:32px;
$fontBody: 'Work Sans',
sans-serif;
$sizeFontBody: 12px;
$fontTitle: 'Playfair Display',
serif;
$sizeFontTitle:30px;
$mockup-width: 1440px;
$ctaColor: #ed1a2e;
$wrapper-color-top:#060c3e;
$blue-color:#162755;


.wrapper {
    max-width:100%;
    background-color: $blue-color;
    margin: auto;

    .container {
        max-width: $container-width;
        margin: auto;
        // border: 1px solid purple;

        .top-nav {
            background-color: $blue-color;

            img {
                height: 50px;
            }

        }

        .menu {
            .menu-list {
                li {
                    color: white;
                    padding: 10px;
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: white;
                        font-family: $fontBody;
                        font-size: 12px;
                        
                    }
                }
            }

        }

    }
}

.wrapper-bottom {

    max-width: $container-width;
    margin: auto;


    .menu-bottom {

        .menu-list-bottom {
            li {
                color: black;
                padding: 5px;
                font-family: $fontBody;
                font-size: 10px;

            }
        }

    }

    .main {
        .first-section {
            margin-bottom: 5%;
            .first-section-left {

                ul {
                    list-style: none;

                    li:nth-child(1) {
                        color:$ctaColor;
                        font-family: $fontBody;
                        font-weight: 700;
                    }

                    li:nth-child(2) {
                        color: black;
                        font-family: $fontTitle;
                        font-size: 2rem;
                        margin-top: 5%;
                    }
                }



            }


            .first-section-right {

               .testo{
                   margin-top: 5%;
               }
            }
        }


        


        .third-section {
            margin-bottom: 5%;

            display: grid;
            grid-template-columns: 6fr 6fr;

            .third-section-left {
                display: flex;
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    background-color:white;

                    li:nth-child(1) {
                        color: $ctaColor;
                        font-family: $fontBody;
                        font-weight: 700;
                    }

                    li:nth-child(2) {
                        color: black;
                        font-family: $fontTitle;
                        font-size: 2rem;
                        margin-top: 5%;
                        text-align: center;
                    }

                    li:nth-child(3) {
                        color: black;
                        text-align: center;
                        font-family: $fontBody;
                    }

                    li:nth-child(4) {
                        color: $ctaColor;
                        font-family: $fontBody;
                        font-weight: 500;
                    }
                    



                }
            }

        }



         .second-section {
             margin-bottom: 5%;

             display: grid;
             grid-template-columns: 6fr 6fr;
             

             .second-section-right {
                 display: flex;


                 ul {
                     list-style: none;
                     display: flex;
                     flex-direction: column;
                     justify-content: space-around;
                     align-items: center;
                     background-color:white;

                     li:nth-child(1) {
                         color:$ctaColor;
                         font-family: $fontBody;
                         font-weight: 700;
                     }

                     li:nth-child(2) {
                         color: black;
                         font-family: $fontTitle;
                         font-size: 2rem;
                         margin-top: 5%;
                         text-align: center;
                     }

                     li:nth-child(3) {
                         color: black;
                         text-align: center;
                         font-family: $fontBody;
                     }

                     li:nth-child(4) {
                         color:$ctaColor;
                         font-family: $fontBody;
                         font-weight: 500;
                     }




                 }
             }

         }


        

    }


    .footer-top {
        background-color: $blue-color;
        padding-top: 30px;
        padding-bottom: 1%;

        .first-section {
            .first-section-left {

                ul {
                    list-style: none;

                    li:nth-child(1) {
                        color: white;
                        font-weight: 500;
                        font-size: 15px;
                    }

                    li:nth-child(2) {
                        color: white;
                        font-family: $fontTitle;
                        font-size: 2rem;
                        margin-top: 5%;
                    }
                }



            }


            .first-section-right {
                
                

                p {
                    color: rgb(207, 192, 192);
                    font-family:$fontBody;
                }

                .testo {
                    margin-top: 5%;
                    color: white;
                    text-decoration: underline;
                    font-size: 12px;
                }
            }
        }





    }

    .footer-center {
        
        height: 100%;
        margin-bottom: -2%;
        background-color: $blue-color;
        
    

        

        .footer-center-left {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 10px 18px #888888;
            img {
                width: 50%;
                padding: 5%;
                
            }
        }

        .footer-center-center {
            background-color: white;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 10px 18px #888888;
            
            img {
                width: 50%;
                padding: 5%;
                
            }
        }

        .footer-center-right {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 10px 18px #888888;
            img {
                width: 50%;
                padding: 5%;
                
            }
        }

    }

    .footer-center-bottom {
        height: 50px;
        background-color:white;
    }

    .footer-bottom {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: azure;


             li:nth-child(1) {
                 color: $ctaColor;
                 font-family: $fontBody;
                 font-weight: 700;
                 margin-top: 2%;
             }

             li:nth-child(2) {
                 color: black;
                 font-family: $fontTitle;
                 font-size: 2rem;
                 margin-top: 2%;
                 text-align: center;
             }

             li:nth-child(3) {
                 color: black;
                 text-align: center;
                 margin-top: 2%;
                 margin-bottom: 2%;
                 font-family: $fontBody;
             }

        



        }
    }

    .credits {
        background-color: $blue-color;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 3%;
        font-family: $fontBody;
        font-size: 10px;

        .credits-left{
            img{
                width: 200px;
            }
        }

        .credits-right {
        
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                li {
                    margin-right: 10px;
                    color: white;
                }

            }
        }

    }

    

}

        










    


